@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900|Raleway:800|Roboto:900");
* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px; }

body {
  background-color: #fff;
  width: 100%;
  font-family: 'Helvetica', Arial, sans-serif; }

button {
  width: 100px;
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer; }
  button:hover {
    background-color: #014e76;
    color: #fff; }

.header {
  width: 100%;
  min-width: 600px;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e76;
  color: #fff;
  z-index: 1; }
  .header nav ul {
    display: flex;
    list-style: none;
    opacity: 0;
    animation: 1s fadein 1s forwards; }
    .header nav ul li a {
      display: inline-block;
      font-family: 'Montserrat';
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      margin: 0 15px;
      cursor: pointer; }
      .header nav ul li a:after {
        display: block;
        content: '';
        padding-bottom: 2px;
        border-bottom: solid 2px #e53236;
        transform: scaleX(0);
        transition: transform 150ms ease-in-out; }
      .header nav ul li a:hover:after {
        transform: scaleX(1); }

@keyframes fadein {
  100% {
    opacity: 1; } }
.footer {
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e76;
  padding: 20px 0; }
  .footer p {
    color: #222; }

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #085e8c;
  min-width: 600px; }
  #home .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 -200px 0;
    opacity: 0;
    animation: 1s fadeup 0.5s forwards; }
    #home .name h1 {
      font-family: 'Montserrat';
      color: #e53236;
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px; }
    #home .name h2 {
      font-family: 'Montserrat';
      color: #fff;
      font-size: 33px; }

@keyframes fadeup {
  100% {
    opacity: 1;
    margin: 0; } }
#portfolio {
  min-width: 600px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  #portfolio .tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 30px 0; }
    #portfolio .tech i {
      font-size: 60px;
      color: #085e8c;
      padding: 20px; }
  #portfolio .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #portfolio .projects .bg {
      width: 100%; }
      #portfolio .projects .bg .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1500px;
        padding: 75px 250px;
        box-sizing: border-box; }
        #portfolio .projects .bg .project img {
          width: 400px;
          height: 250px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.18);
          -moz-box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.18); }
        #portfolio .projects .bg .project .info {
          display: flex;
          flex-direction: column;
          width: 400px; }
          #portfolio .projects .bg .project .info h2 {
            font-family: 'Raleway';
            color: #085e8c;
            text-transform: uppercase;
            padding-bottom: 15px; }
          #portfolio .projects .bg .project .info .description {
            display: flex;
            padding: 0;
            color: #999;
            font-weight: 300;
            margin-bottom: 20px; }
            #portfolio .projects .bg .project .info .description li {
              padding: 5px 0; }
    #portfolio .projects .white {
      background-color: #fff; }

@media screen and (max-width: 1350px) {
  #portfolio .projects .bg .project {
    padding: 75px 150px; } }
@media screen and (max-width: 1160px) {
  #portfolio .projects .bg .project img {
    width: 300px;
    height: auto; }
  #portfolio .projects .bg .project .info {
    width: 300px; } }
@media screen and (max-width: 960px) {
  #portfolio .projects .bg .project {
    flex-direction: column;
    align-items: center; }
    #portfolio .projects .bg .project img {
      width: 400px;
      height: auto; }
    #portfolio .projects .bg .project .info {
      align-items: center;
      width: 400px;
      margin-top: 25px; }
      #portfolio .projects .bg .project .info p {
        text-align: center; }
  #portfolio .projects .bg .twitch,
  #portfolio .projects .bg .quote {
    flex-direction: column-reverse; } }
#about {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #014e76;
  padding: 70px 0; }
  #about h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 25px; }
  #about .statement {
    max-width: 600px;
    font-size: 18px;
    color: #fff;
    padding: 0 30px; }

#contact {
  background-color: #085e8c;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0; }
  #contact h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px; }
  #contact .form {
    display: flex;
    flex-direction: column;
    width: 500px; }
    #contact .form label {
      color: #fff;
      font-weight: bolder;
      margin: 5px 0; }
    #contact .form input {
      box-sizing: border-box;
      line-height: 20px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      fonts-size: 20px;
      font-weight: bolder;
      padding: 8px 10px;
      margin-bottom: 20px; }
    #contact .form textarea {
      box-sizing: border-box;
      min-height: 200px;
      min-width: 500px;
      max-width: 500px;
      border: 1px solid #fff;
      background: transparent;
      font-size: 1.2em;
      color: #fff;
      font-weight: bolder;
      padding: 8px 10px;
      margin-bottom: 20px; }
  #contact .alert {
    color: #e53236;
    padding-top: 25px;
    font-weight: bolder;
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
