.header {
  width: 100%;
  min-width: 600px;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e76;
  color: #fff;
  z-index: 1;

  nav {

    ul {
      display: flex;
      list-style: none;
      opacity: 0;
      animation: 1s fadein 1s forwards;

      li {

        a {
          font-family: 'Montserrat';
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          margin: 0 15px;
          cursor: pointer;

          &:hover {
            border-bottom: 2px solid #e53236;
          }
        }
      }
    }
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
