.header {
  width: 100%;
  min-width: 600px;
  height: 80px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e76;
  color: #fff;
  z-index: 1;

  nav {

    ul {
      display: flex;
      list-style: none;
      opacity: 0;
      animation: 1s fadein 1s forwards;

      li {

        a {
          display: inline-block;
          font-family: 'Montserrat';
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          // font-size: 1.2em;
          font-weight: bold;
          margin: 0 15px;
          cursor: pointer;

          &:after {
            display:block;
            content: '';
            padding-bottom: 2px;
            border-bottom: solid 2px #e53236;
            transform: scaleX(0);
            transition: transform 150ms ease-in-out;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
