#about {
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e76;
  padding: 70px 0;

  .statement {
    max-width: 600px;
    font-size: 18px;
    color: #fff;
    padding: 0 30px;
  }
}
