#portfolio {
  min-width: 600px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;

  .tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 30px 0;

    i {
      font-size: 60px;
      color: #085e8c;
      padding: 20px;
    }
  }

  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      margin: 30px 15px;
      box-sizing: border-box;

      img {
        width: 400px;
        height: 250px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
        box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
      }

      h2 {
        font-family: 'Raleway';
        color: #085e8c;
        text-transform: uppercase;
        padding: 20px 0 15px 0;
      }

      p {
        text-align: center;
        color: #085e8c;
        font-size: 15px;
        font-weight: bolder;
        margin-bottom: 15px;
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        color: #999;
        list-style: none;

        li {
          padding: 5px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {

  #portfolio {
    padding: 50px 0;

    .tech {
      padding: 0 80px 30px 80px;
    }
  }

}
