#portfolio {
  min-width: 600px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  // padding: 50px 0;

  .tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;

    i {
      font-size: 60px;
      color: #085e8c;
      padding: 20px;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .bg {
      width: 100%;

      .project {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // width: 100%;
        max-width: 1500px;
        padding: 75px 250px;
        box-sizing: border-box;

        img {
          width: 400px;
          height: 250px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
          -moz-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
          box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.18);
        }

        .info {
          display: flex;
          flex-direction: column;
          width: 400px;

          a {
            text-decoration: none;

            h2 {
              font-family: 'Raleway';
              color: #085e8c;
              text-transform: uppercase;
              padding-bottom: 15px;
              border: none;
            }
          }

          .description {
            display: flex;
            padding: 0;
            color: #999;
            font-weight: 300;
            margin-bottom: 20px;
          }

          p {
            line-height: 1.5;
          }
        }
      }
    }

    .white {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: 1350px) {
  #portfolio {
    .projects {
      .bg {
        .project {
          padding: 75px 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  #portfolio {
    .projects {
      .bg {
        .project {
          img {
            width: 300px;
            height: auto;
          }

          .info {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #portfolio {
    .projects {
      .bg {
        .project {
          flex-direction: column;
          align-items: center;
          padding: 75px 0px;

          img {
            width: 400px;
            height: auto;
          }

          .info {
            align-items: center;
            width: 400px;
            margin-top: 25px;

            p {
              text-align: center;
            }
          }
        }

        .twitch,
        .quote {
          flex-direction: column-reverse
        }
      }
    }
  }
}
